
<html>
<body>
    <div class="col-sm-3 col-md-9 col-lg-8">
        <p>
        <h4>Skill Set : </h4>
        * Implemented Solution using Spring and Related Technologies. <br><br>
        * Experience in developing scalable multithreading applications .<br> <br>
        * Expertise in Cloud technologies using Spring Boot Framework on PAAS/IAAS.<br> <br>
        * Kafka Implementation with Kerbros Authentication<br> <br>
        * Expertise in the Unit and Integration Testing framework like Junit/Mockito/Wire-mock/Test-Ng.<br> <br>
        * Worked on building CI/CD pipeline using Jenkins.<br> <br>
        * Implementing Spring Security.<br> <br>
        * Experience in Zelle Payments, Accounts Onboarding, KYC (Know Your Customer), Anti-Money Laundering (AML) domain.<br> <br>
        * Experience in Telecom and Advertising and Media Domain.<br> <br>
        * Experience in Database Development using NoSql/Sql Database.<br> <br>
        * Experience in Developing Spark Jobs.<br> <br>
        </p>
    </div>
</body>
</html>
