<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4">
                <img src="{{ site.favicon | prepend: site.baseurl }}" title="Avatar" alt="My Avatar">
                <h4>{{ site.author.name }}</h4>
                <p>{{ site.author.title }}</p>
                <p class="muted">{{ site.author.address }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block visible-sm-block">
                
                <p><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:{{ site.author.email}}">{{ site.author.email }}</a></p>
                <p><i class="fa fa-github fa-fw"></i><a href="//github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></p>
                <p><i class="fa fa-linkedin-square fa-fw"></i> <a href="//linkedin.com/in/{{ site.author.linkedin }}" target="_blank"> linkedin.com/in/{{ site.author.linkedin }} </a></p>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block">
                <a href="https://drive.google.com/file/d/10QNKCjn7N2Atm1vwz0A0dNsmJqQd4tMu/view?usp=sharing" class="btn btn-dark"><i class="icon-file icon-white"></i> Download.pdf </a>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block">
               <a href='https://www.beaconstac.com/qr-code-generator' border='0' style='cursor:default' target='_blank'><img src='https://chart.googleapis.com/chart?cht=qr&chs=180x180&choe=UTF-8&chld=L%7C2&chl=tel:9728017213' alt=''></a> 
             </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="grid-block">
            <p><span><h4>Profile Summary : </h4><h7>{{ site.author.profileSummary}}</h7></span></p>
        </div>
            <div class="col-sm-3 col-md-6 col-lg-4">
                <p>
                <h4>Skill Set : </h4>
                Implemented Solution using Spring and Related Technologies. <br>
                Experience in developing scalable multithreading applications .<br> 
                Expertise in Cloud technologies using Spring Boot Framework on PAAS/IAAS.<br>
                Expertise in the Integration Testing framework like Wire-mock/Test-Ng.<br>
                Expertise in the Testing framework like Junit/ Mockito. <br>
                Worked on building CI/CD pipeline using Jenkins.<br>
                Implementing Spring Security.<br>
                Experience in Zelle Payments, Accounts Onboarding, Risk Analysis, KYC (Know Your Customer), Anti-Money Laundering (AML) domain.<br>
                Experience in Telecom and Advertising and Media Domain.<br>
                Experience in Database Development using SQL, PL/SQL in SQL Developer, DataStax.<br>
                Experience in Developing Spark Jobs.<br>
                Kafka Implementation with multiple bootstrap servers.<br>
                </p>
            </div>
            <div class="col-sm-3 col-md-6 col-lg-4">
                <p>
                <h4>Skill Set : </h4>
                Implemented Solution using Spring and Related Technologies. <br>
                Experience in developing scalable multithreading applications .<br> 
                Expertise in Cloud technologies using Spring Boot Framework on PAAS/IAAS.<br>
                Expertise in the Integration Testing framework like Wire-mock/Test-Ng.<br>
                Expertise in the Testing framework like Junit/ Mockito. <br>
                Worked on building CI/CD pipeline using Jenkins.<br>
                Implementing Spring Security.<br>
                Experience in Zelle Payments, Accounts Onboarding, Risk Analysis, KYC (Know Your Customer), Anti-Money Laundering (AML) domain.<br>
                Experience in Telecom and Advertising and Media Domain.<br>
                Experience in Database Development using SQL, PL/SQL in SQL Developer, DataStax.<br>
                Experience in Developing Spark Jobs.<br>
                Kafka Implementation with multiple bootstrap servers.<br>
                </p>
            </div>
            
        </div>
    </div>
</div>
