<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4">
                <img src="{{ site.favicon | prepend: site.baseurl }}" title="Avatar" alt="My Avatar">
                <h4>{{ site.author.name }}</h4>
                <p>{{ site.author.title }}</p>
                <p class="muted">{{ site.author.address }}</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-4">
                
                <p><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:{{ site.author.email}}">{{ site.author.email }}</a></p>
                <p><i class="fa fa-github fa-fw"></i><a href="//github.com/{{ site.author.github }}" target="_blank">  @{{ site.author.github }} </a></p>
                <p><i class="fa fa-linkedin-square fa-fw"></i> <a href="//linkedin.com/in/{{ site.author.linkedin }}" target="_blank"> linkedin.com/in/{{ site.author.linkedin }} </a></p>
            </div>
            <div class="col-sm-4">
                <a href="https://drive.google.com/file/d/10QNKCjn7N2Atm1vwz0A0dNsmJqQd4tMu/view?usp=sharing" class="btn btn-dark"><i class="icon-file icon-white"></i> Download.pdf </a>
            </div>
            <div class="col-sm-4 visible-md-block visible-lg-block">
               <a href='https://www.beaconstac.com/qr-code-generator' border='0' style='cursor:default' target='_blank'><img src='https://chart.googleapis.com/chart?cht=qr&chs=180x180&choe=UTF-8&chld=L%7C2&chl=tel:9728017213' alt=''></a> 
             </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="grid-block">
            <p><span><h4>Profile Summary : </h4><h7>{{ site.author.profileSummary}}</h7></span></p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <iFrame src="https://fxo.io/m/88wag5v5" width= "500px" height="450px" frameborder ="1" scrolling = "yes" align = "left"></iFrame>
        </div>
       
        <div class="col-sm-6 col-md-6 col-lg-6">
            <iFrame src="https://htmlpreview.github.io/?https://github.com/techhb/hemant-resume/blob/master/_includes/b.html" width= "100%" height="450px frameborder ="1" scrolling = "yes" align = "left"></iFrame>
        </div>
            
            
        </div>
    </div>
</div>
