<!DOCTYPE html>
<html>
	<div class="ribbon right red">
	  <a href="https://github.com/techhb/hemant-resume">Fork me on GitHub</a>
	</div>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
	{% include googleanalytics.html %}
	  <script src="https://widget.flowxo.com/embed.js" data-fxo-widget="eyJ0aGVtZSI6IiNmMDkwMjIiLCJ3ZWIiOnsiYm90SWQiOiI1ZjQwMDU2MGU2MTk5MjFiNmM2MTQwZTkiLCJ0aGVtZSI6IiNmMDkwMjIiLCJsYWJlbCI6IlZpcnR1YWwgYXNzaXN0YW50IGZvciBNci5IZW1hbnQgS3VtYXIifSwid2VsY29tZVRleHQiOiJDaGF0IE5vdy4iLCJwb3B1cEhlaWdodCI6IjUwIn0=" async defer></script>
  </body>

</html>
